<?xml version="1.0"?>
<model>
  <name>all_wheel_description</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>all_wheel_description</name>
    <email>unused@example.com</email>
  </author>
  <description>Model wrapper so model://all_wheel_description resolves package meshes</description>
</model>
